.poster img {
  width: 100%;
  height: 200px;
  margin-bottom: 30px;
  object-fit: cover;
}

.info {
  display: grid;
  grid-template-columns: 10fr 2fr;
  grid-template-areas: 
    "left follow"
    "left follow";
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.3);
  padding: 20px;
}

.info__left {
  grid-area: left;
  display: grid;
  justify-content: start;
  grid-template-areas: "image title";
}

.info__title {
  grid-area: title;
  margin-left: 30px;
}

.info__title h2 {
  font-size: 32px;
}
.info__logo {
  grid-area: image;
}

.info__image {
  min-width: 128px;
  min-height: 128px;
  max-width: 128px;
  max-height: 128px;
  object-fit: cover;
  border-radius: 50%;
  cursor: pointer;
}

.info__follow {
  grid-area: follow;
}

.info__input {
  display: flex;
  align-items: center;
}

.info__input input {
  padding: 5px;
  border: 1px solid rgba(0, 0, 0, 0.3);
}

.info__input input:active, .info__input input:focus {
  outline: none;
}

.info__save {
  width: 24px;
  height: 24px;
  margin-left: 10px;
  cursor: pointer;
  transition: 0.2s;
}

.info__save:hover {
  opacity: 0.6;
}