.poster img {
  width: 100%;
  height: 200px;
  margin-bottom: 20px;
  object-fit: cover;
}

.info {
  display: grid;
  /* grid-template-columns: 6fr 6fr; */
  grid-template-areas: 
    "left middle right"
    "left middle right";
  /* align-items: center; */
  border: 1px solid rgba(0, 0, 0, 0.3);
  padding: 20px;
}

.info__left {
  grid-area: left;
  display: grid;
  justify-content: start;
  flex-wrap: wrap;
  align-items: center;
  grid-template-areas: "image title";
}

.info__title {
  grid-area: title;
  margin-left: 30px;
}

.info__status {
  display: flex;
}

.info__status p {
  padding: 0 10px;
}

.info__title h2 {
  font-size: 32px;
}
.info__logo {
  grid-area: image;
}

.info__image {
  min-width: 128px;
  min-height: 128px;
  max-width: 128px;
  max-height: 128px;
  object-fit: cover;
  background-color: #fff;
  border: 5px solid #fff;
  border-radius: 50%;
  cursor: pointer;
}

.info__follow {
  grid-area: follow;
}

.info__input {
  display: flex;
  align-items: center;
  max-width: 200px;
}

.info__input input {
  padding: 5px;
  border: 1px solid rgba(0, 0, 0, 0.3);
}

.info__input input:active, .info__input input:focus {
  outline: none;
}

.info__link {
  text-decoration: none;
  color: #000;
  font-weight: 600;
  margin-left: 10px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  padding: 5px;
  margin-bottom: 10px;
  /* margin-right: 10px; */
}

.info__link:first-child {
  margin-left: 0;
}

.info__middle {
  grid-area: middle;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-wrap: wrap;
  margin: 0 50px;
}

.info__save {
  width: 32px;
  height: 32px;
  margin-left: 20px;
  cursor: pointer;
  transition: 0.2s;
  object-fit: cover;
  background-color: #fff;
}

.info__save:hover {
  opacity: 0.6;
}

.info__right {
  display: flex;
  justify-content: flex-end;
  /* max-width: 300px; */
  grid-area: right;
}

.info__file {
  display: none;
}

.info__right__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info__right__wrapper p {
  padding-bottom: 5px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

label {
  margin-top: 30px;
  text-align: center;
  width: 170px;
  color: rgb(35, 170, 23);
  font-size: 16px;
  padding: 5px 10px;
  border-radius: 30px;
  font-weight: 600;
  margin-bottom: 20px;
  border: 2px solid rgb(35, 170, 23);
  background-color: #fff;
  transition: 0.2s ease-in-out;
}

label:hover {
  background-color: rgb(35, 170, 23);
  color: #fff;
}

label:active {
  background-color: rgb(26, 126, 17);
  border-color: rgb(26, 126, 17);
  color: #fff;
}

@media (max-width: 951px) {
  .info__middle {
    margin: 0 30px;
  }
}