.app-wrapper {
  display: grid;
  grid-template-rows: 70px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;
  /* align-items: center; */
  grid-template-areas:
    "header header"
    "nav content";
  max-width: 100%;
  padding: 0 40px;
  margin: 0 auto;
}

.app-wrapper-content {
  grid-area: content;
}